
.nav-link.text-white {
    border-left:  4px solid black;
}

.nav-link.text-white.active {
    border-left:  4px solid green;
}

.overX {
    overflow-x: hidden;
}
body {
    -webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
}
  
/* total width */
ul {
    overflow-x: hidden;
}
ul::-webkit-scrollbar {
    background-color:#000;
    width:16px
}

/* background of the scrollbar except button or resizer */
ul::-webkit-scrollbar-track {
    background-color:#000
}

/* scrollbar itself */
ul::-webkit-scrollbar-thumb {
    background-color:#cecece;
    border-radius:16px;
    border:4px solid #000
}

/* set button(top and bottom of the scrollbar) */
ul::-webkit-scrollbar-button {display:none}

#playlistscroll {
    height :213px;
}

@media (max-width:1365px) and (max-height: 635px) {
    #playlistscroll {
        height: 191px;
    }
}